.modal-primary,
.modal-info,
.modal-success,
.modal-warning,
.modal-danger {
  .modal-header {
    color: #fff;
    border-radius: 5px 5px 0 0;
  }
}
.modal-primary .modal-header {
  background: $brand-primary;
}
.modal-info .modal-header {
  background: $brand-info;
}
.modal-success .modal-header {
  background: $brand-success;
}
.modal-warning .modal-header {
  background: $brand-warning;
}
.modal-danger .modal-header {
  background: $brand-danger;
}

.add-letter-controls {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  .character-field {
    max-width: 120px;
    margin: 10px;
  }
  .qty-field {
    max-width: 80px;
    margin: 10px;
  }
  .add-letter-button {
    margin: 10px;
  }
}

.list-qty {
  color: #568B56;

}
