.modal-header
  button.close(ng-if='modal.dismissable', type='button', ng-click='$dismiss()') &times;
  h4.modal-title(ng-if='modal.title', ng-bind='modal.title')

.container-fluid.modal-contents(ng-controller='EditModalCtrl')
  .row.letter-set-title(editable-text='thisSet.title') {{thisSet.title}}
  .row.add-letter-controls
    form.form-group.form-inline(name='letterSetForm')
      input.form-control.character-field(type='text', placeholder='new character',
        ng-model='newLetter.character', ng-change='characterFieldChanged()')
      input.form-control.qty-field(type='text',
        placeholder='quantity', ng-model='newLetter.qty', ng-change='qtyFieldChanged()')
      button.btn.btn-success.add-letter-button(role='button',
        ng-click='addLetter(newLetter.character, newLetter.qty)',
        ng-disabled='!addLetterButtonEnabled') Add letter
  .row
    ul(ng-repeat='letter in thisSet.letters')
      .col-xs-12.col-sm-6.col-md-4(ng-mouseenter='letterHoverEnter(letter)', ng-mouseleave='letterHoverLeave(letter)')
        li.set-item
          a.trash-icon(ng-click='deleteLetter($index)', ng-show='letter.showTrash')
            i.fa.fa-trash.pull-left
          h2.list-character.col-xs-4.col-xs-push-2.col-md-2.col-md-push-0(editable-text='letter.character', onbeforesave='validateCharacter($data)', onshow='xeditableShow(letter)', onhide='xeditableHide()') <b>{{letter.character}}</b>
          h2.list-qty.col-xs-4.col-xs-push-2.col-md-3.col-md-pull-0(editable-range='letter.qty', onshow='xeditableShow(letter)', onhide='xeditableHide()') {{letter.qty}}

  .modal-footer
    button.btn(ng-repeat='button in modal.buttons', ng-class='button.classes', ng-click='button.click($event)', ng-bind='button.text', ng-disabled='!button.enabled')
