$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

//bootstrap overrides

$brand-primary: #568B56;
$brand-success: #215C21;
$font-family-sans-serif:  "Open Sans", sans-serif !default;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'letters/letters.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector

a:hover {
  text-decoration: none;
}

#banner {
  margin-top: $navbar-height;
  height: 400px;
  background-position: center;
  background-image: url('../assets/images/readerboard_hero.jpg');
  background-repeat: no-repeat;
  background-color: darken($brand-primary, 8%);
  .hero-unit-text {
    background-color: #fff;
    border-radius: $border-radius-large;
    opacity: 0.7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;
    width: 800px;
    h1 {
      font-size: 80px;
      color: $brand-success;
      padding-bottom: 18px;
    }
    p {
      color: $text-color;
    }
  }

}

.text-fields {
  h2 {
    margin-bottom: 15px;
  }
}

.letter-availability-list {
  font-size: 18px;
  color: 'black';
  margin-top: 36px;
  h2 {
    margin-left: 16px;
  }
  li {
    list-style: none;
    .number-available {
      text-align: right;
    }
  }
  .btn {
    margin-top: 18px;
  }
}

.message {
  min-height: 200px;
  resize: none;
}

.reader-board-preview {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  min-height: 200px;
  resize: none;
}

.no-more {
  padding-left: 18px;
  margin-top: 18px;
  .no-more-letters{
    color: red;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {
  max-height: 60px;
  .footer-copyright {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
  }
}

#github-navbar-link {
  i {
    margin-top: 12px;
  }

}

@media screen and (max-width: $screen-sm-max) {
  .letter-availability-list {
    li {
      .number-available {
      }
    }
  }

  #banner {
    .hero-unit-text {
      width: 100%;
      h1 {
        font-size: 48px;
      }
    }

  }
}
