$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector

a:hover {
  text-decoration: none;
}

#banner {
  margin-top: $navbar-height;
}

.text-fields {
  h2 {
    margin-bottom: 15px;
  }
}

.letter-availability-list {
  font-size: 18px;
  color: 'black';
  margin-top: 36px;
  h2 {
    margin-left: 16px;
  }
  li {
    list-style: none;
    .number-available {
      text-align: right;
    }
  }
}

.message {
  min-height: 200px;
}

.reader-board-preview {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  min-height: 200px;
}

.no-more {
  padding-left: 18px;
  margin-top: 18px;
  .no-more-letters{
    color: red;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer {
  max-height: 60px;
  .footer-copyright {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
  }
}

#github-navbar-link {
  i {
    margin-top: 12px;
  }

}

@media screen and (max-width: $screen-sm-max) {
  .letter-availability-list {
    li {
      .number-available {
      }
    }
  }
}
