.editor-buttons {
  margin-top: 160px;
}

.sets {
  color: $text-color;
  font-size: 28px;
  line-height: 48px;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 36px;

  .sets-table-header th {
    background-color: lighten($brand-primary, 25%);
    text-align: center !important;
  }

  table {
    tr {
      height: 68px;
    }
    th.row-tools {
      width: 250px;
    }
  }

  tbody {
    .set-title {
      padding-left: 32px;
    }
    .set-qty {
      text-align: center;
    }
    .row-tools {
      ul {
        text-align: center;
        padding-left: 0px;
        li {
          list-style: none;
          display: inline;
          padding-left: 14px;
          padding-right: 14px;
        }
      }
    }
  }
}

