div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container(ng-controller='LettersCtrl')
    .row
      .hero-unit-text
        h1 ReaderBoard
        p.lead Plan your readerboard message based on letters in your inventory.

    .row.editor-buttons
      .nav.nav-pills
        button.btn.btn-lg.btn-success(role='button', ng-click='openCreationModal()') Create new set
    .row.sets
      table.table.table-hover.table-bordered
        thead.sets-table-header
          tr
            th.row-tools
              i.fa.fa-bolt
            th Set Title
            th # letters
        tbody(ng-repeat='set in sets')
          tr(ng-mouseenter='set.showTools = true', ng-mouseleave='set.showTools = false')
            th.row-tools
              ul(ng-show='set.showTools')
                li
                  a(ng-click='openDeleteConfirmModal(set)')
                    i.fa.fa-trash
                li
                  a(ng-click='copySet(set)')
                    i.fa.fa-copy
                li
                  a(ng-click='openEditSetModal(set)')
                    i.fa.fa-pencil
            th.set-title {{set.title}}
            th.set-qty {{set.letters.length}}

