div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 ReaderBoard
    p.lead Plan your readerboard message based on letters in your inventory.

.container(ng-controller='MainCtrl')
  .row
    .col-md-8.col-md-offset-2
      h1.page-header your message:
      .row
          textarea.form-control.message(rows='3', ng-model='textAreaData',
            ng-change='textAreaChanged()')
      .row
          h1 your letter supply:


footer.footer
  .container
