div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 ReaderBoard
    p.lead Plan your readerboard message based on letters in your inventory.

.container(ng-controller='MainCtrl')
  .row
      h2.page-header your message:
      .row
        .col-md-5
          textarea.form-control.message(rows='3',
            ng-model='textAreaData',
            ng-change='textAreaChanged()',
            ng-trim="false")
        .col-md-5.col-md-offset-2
          .well
            h2.b {{readerBoardText}}
      .row
          h2 your letter supply:


footer.footer
  .container
