.modal-header
  button.close(ng-if='modal.dismissable', type='button', ng-click='$dismiss()') &times;
  h4.modal-title(ng-if='modal.title', ng-bind='modal.title')

.container-fluid(ng-controller='CreateModalCtrl')
  .row.add-letter-controls
    form.form-group.form-inline
      input.form-control.character-field(type='text', placeholder='new character',
        ng-model='newLetter.character', ng-change='characterFieldChanged()')
      input.form-control.qty-field(type='text',
        placeholder='quantity', ng-model='newLetter.qty', ng-change='qtyFieldChanged()')
      button.btn.btn-success.add-letter-button(role='button',
        ng-click='addLetter(newLetter.character, newLetter.qty)') add letter
  .row
    div(ng-repeat='letter in letters')
      div {{letter.character}}
        span {{letter.qty}}

.modal-footer
  button.btn(ng-repeat='button in modal.buttons', ng-class='button.classes', ng-click='button.click($event)', ng-bind='button.text')
